name: Tests
on: [push]
jobs:
  test:
    name: Test Swift Package
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-ruby@v1
      - name: 'Install Dependencies'
        run: gem install bundler --no-rdoc && bundle install
      - name: 'Test'
        run: bundle exec rake test
